* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: #0a0a0a; */
    background-image: url(Images/wallpaper-background.jpg);
    background-size: contain;
    background-repeat: repeat-y;
    /* background-size: contain; */
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url(Images/desktop-background.jpg);
    background-size: cover;
    background-position: center; */
    /* border: 2px solid orange; */
}

.container {
    padding: 0px 8% 10px 8%;
    /* padding: 10px 10%; */
    /* border: 2px solid greenyellow; */
}

nav {
    /* border: 1px solid red; */
    /* margin-top: 5px; */

    position: fixed;
    width: 84%;
    background-color: #0a0a0a;
    opacity: 0.9;
    z-index: 100;
    top: 15px;
    border: 2px solid white;
    border-radius: 30px;

    padding: 6px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.logo {
    height: 35px;
    margin: auto 0px;
    margin-left: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 12px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #50adff;
    /* background: #308ee0; */
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    /* border: 2px solid yellow; */
    /* padding-top: 16vw; */
    padding-top: 12rem;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 24px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 5px;
}

.header-text h1 span {
    color: #50adffd3;
}

.sub-header-text {
    font-size: 60px;
    font-weight: 500;
}

.sub-header-text span {
    color: #50adffd3;
}

.sub-header-text h6 {
    margin-top: 1.5%;
    font-weight: 450;
    font-size: 1.6vw;
}

.sub-header-text h6 span {
    color: #50adffd3;
    font-weight: 500;
}

.btn-pink {
    background-color: #0000009a;
    width: fit-content;
    color: white;
    padding: 0.8rem 2rem;
    margin: 5% 8% 5% 0%;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 22px;
    cursor: pointer;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
}

.btn-pink::before {
    content: "";
    position: absolute;
    background-color: #50adffd3;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
    z-index: -1;
}

.btn-pink:hover::before {
    transform: scaleX(1);
}

.btn-pink:hover {
    border: solid 3px black;
    color: white;
}



.sticky {
    position: fixed;
    /* width: 100%; */
    top: 15px;
    left: 8%;
    right: 8%;
}

.sticky+.content {
    padding-top: 100px;
}



/* --------------------   About   -------------------- */
#about {
    color: #ababab;
    margin-top: 14vw;
    /* margin-top: 18rem; */
    /* border: 2px solid orange; */
}

.row {
    /* border: 2px solid orange; */
    /* background-color: #0a0a0a; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 0% 0% 25% 0%;
    border-right: 10px solid #40729e;
    border-bottom: 10px solid #40729e;
    /* border-radius: 30px; */
}

.about-col-2 {
    /* border: 2px solid salmon; */
    flex-basis: 60%;
    font-size: 18px;
}

.sub-title {
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tab-titles {
    display: flex;
    margin: 20px 0px 20px;
}

.tab-links {
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #50adff;
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 80%;
}

.tab-contents ul li {
    list-style: none;
    margin: 14px 0px;
}

.tab-contents ul li span {
    color: #50adff;
    font-size: 20px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* -----------------------------    Services    ---------------------------- */
#services {
    padding-top: 90px;
}

#services .container {
    /* border: 2px solid orange; */
    margin-bottom: 50px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 40px;
}

.services-list div {
    /* background: #262626; */
    background: #1a1a1a;
    padding: 40px;
    font-size: 12px;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 25px;
}

.services-list div h2 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div p {
    font-size: 14px;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #40729e;
    transform: translateY(-10px);
    /* transform: scale(1.1); */
}

/* -----------------------------    Coding Profiles    ---------------------------- */
#coding {
    padding: 90px 0px 0px 0px;
}

/* #coding .container{
    border: 2px solid orange;
    margin-top: 30px;
    margin-bottom: 50px;
}*/
/* .coding-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 5%;
    margin-top: 50px;
    text-align: center;
} */
.coding-timeline-list div {
    background: rgb(220, 220, 220);
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    transition: background 0.5s, transform 0.5s;
}

.coding-timeline-list div img {
    height: 5rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.coding-timeline-list div h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 650;
    margin-bottom: 15px;
}

.coding-timeline-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    /* display: inline-block; */
}

.coding-timeline-list div a {
    text-decoration: none;
    /* color: #fff; */
    color: #262626;
    /* font-size: 14px;
    margin-top: 20px;
    display: inline-block; */
}

.coding-timeline-list div:hover {
    /* background: #40729e; */
    background: rgb(195, 195, 195);
    transform: translateY(-10px);
    transform: scale(1.1);
}


/* -------------------------    Projects   ------------------------- */
#portfolio {
    padding: 5% 0% 0% 0%;
    /* margin-top: 10%; */
}

/* #portfolio .container{
    border: 2px solid orange;
} */

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10%;
    margin-top: 5%;
}

/* .work-list-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10%;
    margin-top: 10%;
} */

.work {
    position: relative;
    overflow: hidden;
}

.work-img {
    width: 100%;
    /* height: 500px; */
    height: 100%;
    display: block;
    /* border-radius: 20px; */
    /* border-radius: 35% 55% / 40% 10%; */
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    background-color: white;
    transition: transform 0.5s;
}

.icons-lang {
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: center;
    /* border: 2px solid salmon; */
}

.icons-lang-img {
    max-width: 14%;
    height: auto;
}

.icons-links {
    /* border: 2px solid salmon; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
    gap: 5%;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #73beff);
    /* border-radius: 20px; */
    /* border-radius: 35% 55% / 40% 10%; */
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 0px 2rem;
    font-size: 16px;
    transition: height 0.5s;
}

.layer h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2%;
}

.layer p {
    font-size: 1.4vw;
    font-weight: 499;
}

.layer a {
    color: #40729e;
    text-decoration: none;
    width: 60px;
    height: 60px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 60px;
    background: #fff;
    border-radius: 50%;
}

.layer a:hover {
    color: #fff;
    transition: 0.5s;
    background-color: #1e1e1e;
}

.work:hover img {
    transform: scale(0.92);
    opacity: 0.9;
}

.work:hover .layer {
    height: 100%;
}

.btn {
    margin: 50px auto;
    color: #fff;
    display: block;
    font-size: 16px;
    width: fit-content;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #52aeff;
    transition: background 0.5s;
}

.btn:hover {
    background: #52aeff;
}

/* -------------------------    Contact    --------------------------- */
#contact {
    padding: 50px 0px 0px 0px;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #52aeff;
    font-size: 25px;
    margin-right: 15px;
}

.contact-left p a {
    color: white;
    text-decoration: none;
}

.contact-left p a:hover {
    color: #52aeff;
    cursor: pointer;
    text-decoration: none;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    font-size: 30px;
    color: #ababab;
    margin-right: 15px;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #52aeff;
    transform: translateY(-5px);
}

.btn.btn2 {
    font-weight: 500;
    display: inline-block;
    background: #52aeff;
}

.btn.btn2:hover {
    color: black;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    border: 0;
    width: 100%;
    outline: none;
    color: #fff;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border-radius: 15px;
    /* background: #0a0a0a; */
    background: #1a1a1a;
}

form .btn2 {
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding: 12px 50px;
    border-radius: 20px;
}

form .btn2:hover {
    color: black;
}

.copyright {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    /* background: #262626; */
    background: #0a0a0a;
}

.copyright i {
    color: #52aeff;
}

/* ---------------------    CSS for small screen    ---------------------- */
nav .fa-solid {
    display: none;
}


@media only screen and (max-width: 920px) {
    .logo {
        height: 25px;
    }

    nav ul li {
        margin: 5px;
    }

    .header-text p {
        /* margin-top: 20rem; */
        font-size: 20px;
        font-weight: 500;
    }

    .btn-pink {
        padding: 0.6rem 1.8rem;
        margin: 5% 8% 5% 0%;
        font-size: 18px;
    }

    #about {
        margin-top: 1vw;
    }

    .about-col-1 {
        flex-basis: 28%;
    }

    .about-col-1 img {
        margin-top: 30%;
        width: 100%;
    }

    .about-col-2 {
        flex-basis: 70%;
        font-size: 16px;
    }

    .about-col-2 h1 {
        font-size: 40px;
    }

    .layer h3 {
        font-size: 22px;
    }

    .layer p {
        font-size: 1.2vw;
    }

    .icons-links {
        margin-top: 0;
        width: 50%;
    }

    .layer a {
        width: 40px;
        height: 40px;
        font-size: 1rem;
        line-height: 40px;
    }

    #contact {
        padding: 0px;
    }
}

@media only screen and (max-width: 690px) {
    nav ul li {
        margin: 1px;
    }

    nav .logo {
        height: 35px;
        margin-left: 5px;
    }

    nav .fa-solid {
        display: block;
        font-size: 25px;
        margin: 2px 10px 0px 0px;
    }

    nav ul {
        background: #50adff;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;

        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .header-text p {
        font-size: 16px;
        font-weight: 499;
    }

    .header-text h1 {
        font-size: 50px;
    }

    #about {
        margin-top: 1vw;
    }

    .sub-header-text h6 {
        /* margin-top: 1.5%;
        font-weight: 450; */
        font-size: 2vw;
    }

    .row {
        margin-top: 0%;
    }

    .about-col-1 {
        flex-basis: 100%;
    }

    .about-col-1 img {
        width: 60%;
        margin-top: 0%;
        margin-bottom: 4%;
    }

    .about-col-2 {
        flex-basis: 100%;
        font-size: 15px;
    }

    .tab-links {
        font-size: 18px;
    }

    #portfolio {
        margin-top: 10%;
    }

    .layer h3 {
        font-size: 24px;
    }

    .layer p {
        font-size: 1.3vw;
    }

    .icons-lang {
        margin-top: 2%;
    }

    .icons-links {
        margin-top: 2%;
    }

    .layer a {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
        line-height: 30px;
    }

    .contact-left h1 {
        font-size: 50px;
    }

    .contact-left p {
        font-size: 18px;
    }

    .contact-left {
        flex-basis: 100%;
    }

    .contact-right {
        flex-basis: 100%;
    }

    @media only screen and (max-width: 640px) {
        .layer p {
            font-size: 3vw;
        }

        .icons-links {
            margin-top: 2%;
        }

        .layer a {
            margin-top: 2%;
            width: 60px;
            height: 60px;
            font-size: 1.4rem;
            line-height: 60px;
        }
    }
}



@media only screen and (max-width: 500px) {
    #header {
        /* top: 0px; */
        /* background-image: url(Images/phone-background.jpg); */
        width: 100%;
        height: 100vh;
        /* border: 2px solid orange; */
    }

    .btn-pink {
        font-size: 14px;
        padding: 0.6rem 1rem;
    }

    .header-text p {
        /* margin-top: 40%; */
        font-size: 14px;
        font-weight: 499;
    }

    .sub-header-text h6 {
        font-size: 14px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 img {
        width: 80%;
    }

    .about-col-2 {
        font-size: 14px;
    }

    .coding-list {
        margin: 10% 15%;
    }

    #portfolio {
        margin-top: 40%;
    }

    .work-list {
        margin-top: 10%;
    }

    .work-list-2 {
        margin-top: 20%;
    }

    .layer h3 {
        font-size: 24px;
    }

    .layer p {
        font-size: 2.8vw;
    }

    .icons-lang {
        margin-top: 1%;
    }

    .icons-links {
        margin-top: 1%;
    }

    .layer a {
        width: 40px;
        height: 40px;
        font-size: 1.1rem;
        line-height: 40px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 10px;
    }

    .copyright {
        font-size: 12px;
    }
}

#msg {
    display: block;
    color: #61b752;
    margin-top: -30px;
}






/* Timeline Design for Project Section */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

.timeline-list {
    --col-gap: 2rem;
    --row-gap: 1rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(80rem, 90%);
    margin-inline: auto;
}

/* line */
.timeline-list::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
    height: 95%;
}

/* columns*/

/* row gaps */
.timeline-list .timeline-item:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */
.timeline-list .timeline-item {
    grid-column: 2;
    --inlineP: 1.2rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* date */
.timeline-list .timeline-item .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 1.6rem;
    font-weight: 500;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.timeline-list .timeline-item .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

/* circle */
.timeline-list .timeline-item .date::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    aspect-ratio: 1;
    /* background: var(--bgColor); */
    background: var(--accent-color);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.timeline-list .timeline-item .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 0rem;
}

.timeline-list .timeline-item .descr {
    padding-block-end: 10rem;
    font-weight: 300;
}

/* shadows */
.timeline-list .timeline-item .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    /* background: rgba(246, 245, 245, 0.5); */
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}

.timeline-list .timeline-item .title::before {
    bottom: calc(100% + 0.125rem);
}

.timeline-list .timeline-item .descr::before {
    z-index: -1;
    bottom: 9.8rem;
}

@media (min-width: 40rem) {
    .timeline-list {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .timeline-list::before {
        grid-column: 2;
    }

    .timeline-list .timeline-item:nth-child(odd) {
        grid-column: 1;
    }

    .timeline-list .timeline-item:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */
    .timeline-list .timeline-item:nth-child(2) {
        grid-row: 2/4;
    }

    .timeline-list .timeline-item:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    .timeline-list .timeline-item:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .timeline-list .timeline-item:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}


.coding-timeline .coding-timeline-list {
    /* background: #456990; */
    padding: 50px 0;
}

.coding-timeline .coding-timeline-list .coding-timeline-item {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 30px;
    background: #fff;
}

.coding-timeline .coding-timeline-list .coding-timeline-item::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: 5px solid white;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}

.coding-timeline .coding-timeline-list .coding-timeline-item div {
    position: relative;
    bottom: 0;
    height: 200px;
    width: 400px;
    padding: 16px;
    /* background: #f45b69; */
    background: rgb(220, 220, 220);
    border-radius: 40px;
}

/* .coding-timeline .coding-timeline-list .coding-timeline-item div::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
  } */

.coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(odd) div {
    left: 43px;
}

.coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0px;
    border-color: transparent #f45b69 transparent transparent;
}

.coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(even) div {
    left: -436px;
}

.coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #f45b69;
}



/* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.coding-timeline .coding-timeline-list .coding-timeline-item::after {
    transition: background 0.5s ease-in-out;
}

.coding-timeline .coding-timeline-list .coding-timeline-item.in-view::after {
    background: #f45b69;
}

.coding-timeline .coding-timeline-list .coding-timeline-item div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.coding-timeline .coding-timeline-list .coding-timeline-item.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .coding-timeline .coding-timeline-list .coding-timeline-item div {
        width: 250px;
    }

    .coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .coding-timeline .coding-timeline-list .coding-timeline-item {
        margin-left: 20px;
    }

    .coding-timeline .coding-timeline-list .coding-timeline-item div {
        /* width: calc(100vw - 91px); */
        width: calc(100vw - 180px);
    }

    .coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(even) div {
        left: 45px;
    }

    .coding-timeline .coding-timeline-list .coding-timeline-item:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #f45b69 transparent transparent;
    }
}


/* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy .coding-timeline-list .coding-timeline-item::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
}

.timeline-rhombus .coding-timeline-list .coding-timeline-item::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus .coding-timeline-list .coding-timeline-item div::before {
    bottom: 12px;
}

.timeline-star .coding-timeline-list .coding-timeline-item::after {
    clip-path: polygon(50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);
}

.timeline-heptagon .coding-timeline-list .coding-timeline-item::after {
    clip-path: polygon(50% 0%,
            90% 20%,
            100% 60%,
            75% 100%,
            25% 100%,
            0% 60%,
            10% 20%);
}

.timeline-infinite .coding-timeline-list .coding-timeline-item::after {
    animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.25);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
} 